* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: purple;
    --color--: white;
}

#container {
    background: linear-gradient(120deg, #2b0066, #020031);
    height: 100vh;
    color: var(--color--);
    display: flex;
    justify-content: center;
    align-items: center;

}

#quiz {
    width: 800px;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

#question {
    border: 2px solid gold;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 0 15px rgba(255, 223, 82, 0.8);

}

.option {
    display: flex;
    width: 50%;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
    align-items: center;
    gap: 12px;
    background: #0b095e;
    padding: 15px;
    font-size: 18px;
    color: var(--color--);
    border: 3px solid #f9d24a;
    border-radius: 40px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    transition: all 0.2s ease-in-out;


}

.row {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    padding: 0;
}

.option span {
    background: #f9d24a;
    color: black;
    padding: 6px 12px;
    border-radius: 50%;
    font-weight: bold;
}


.option:hover {
    background: #2f2bb2;
    box-shadow: 0 0 15px gold;
}